<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home-Page</title>
</head>

<style>
    h1 {
        margin-top: 200px;
        text-align: center;
        text-transform: uppercase;
    }

    h3 {
        text-align: center;
        color: deepskyblue;
    }
</style>
<body>
{#<div class="setting ht-setting">#}
{#    <ul class="ht-setting-list">#}
{#        <li>#}
{#            {% if user.is_authenticated %}#}
{#                <a href="{% url 'prof' user.pk %}">My Account</a>#}
{#            {% else %}#}
{#                <a href="{% url 'login_page' %}">My Account</a>#}
{#            {% endif %}#}
{#        </li>#}
{#        {% if user.is_authenticated %}#}
{#            <li>#}
{#                <form action="{% url 'logout_page' %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    <button type="submit">Logout</button>#}
{#                </form>#}
{#            </li>#}
{#        {% else %}#}
{#            <li><a href="{% url 'login_page' %}">Sign In</a></li>#}
{#        {% endif %}#}
{#    </ul>#}
{#</div>#}
<h1>HomePage ^_^ </h1>

<a href="{% url 'product_list_page' %}">
    <h3>Products</h3>
</a>
</body>
</html>